registry=https://repox.jfrog.io/artifactory/api/npm/npm/
//repox.jfrog.io/artifactory/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJaaDBzQ25BYWVXTURSUXI0cmIybXZncEF1c0UzbEcxUXY1Z3o2WGtHOWdVIn0.eyJzdWIiOiJqZnJ0QDAxZDByenM1djY4dHkwMHNqcjg5ZDIwc2UzL3VzZXJzL3N5bHZhaW4uY29tYmVAc29uYXJzb3VyY2UuY29tIiwic2NwIjoiYXBwbGllZC1wZXJtaXNzaW9ucy91c2VyIiwiYXVkIjoiamZydEAwMWQwcnpzNXY2OHR5MDBzanI4OWQyMHNlMyIsImlzcyI6ImpmcnRAMDFkMHJ6czV2Njh0eTAwc2pyODlkMjBzZTMvdXNlcnMvX3N5c3RlbV8iLCJleHAiOjE3Njc5NjMzMzUsImlhdCI6MTc2NTM3MTMzNSwianRpIjoiMzE1YWMwMWQtZDA1Ny00N2U4LWIxNDctZjYzMTk0ODJiMzNlIn0.fUBlYIsKAEBTqGwFH2s8yqz3PUJGbOOHUAGLakRQ9O8zwUUCVVkDdC4K6TcKu8K6H9pU3LyYB6vbI_kx3XM3vKp2B8aafl11y45X_hh6FBP5lqCDhi47nYvjVeZklgfKdK1RErEIhinHNaNXiNB_n5C2KfSTM0YyKB2bEg7XGbEcpZPybMNTo4_-_roSIekyrTrg4TJZd62YjwYcIMiICgvjUS_7XlbJZ_EQLUjNpyFxZ5lX4gLMIeqkumnlp8-sT7JDz-rcCe094S-admk1C9vG8aXPevOkYhvt8qIK2VtawgUOgvYhmPOGyPxNt-gyFEIMem6b2aQ3mBxC5uOgzg

